<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Document</title>
    </head>
    <body>
        <h1>LOGIN</h1>
        <div id="container">
            <div class="form-div">
                <label for="Email">Email</label><br>
                <input type="text" placeholder="Enter Email"></label><br>
            </div>

                <div class="form-div">
                    <label for="password">password</label><br>
                    <input type="password" placeholder="Enter password"></label><br>
                </div>
        </div>
    </body>
</html>