<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/css/static.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action="" class="user-survey" method='get'>
            <!--
                make user forms here with this fields

                Full Name:

                Age:

                Date of birth

                School or Institution

                Gender

                Department/Discipline

                Any Position Held

                objectives: 
                    1 -> the form should use <p> instead of table,
                    2 -> The field and field label should be block format not inline
                    3 -> when we resize the page it should be responsive,
                            hence the form should have a height and width of a mobile screen
            -->
        </form>
    </div>
</body>
</html>