<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/css/static.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action="" class="user-survey" method='get'>
            <label for="first Name">First Name</label><br>
            <input type="text"><br>
            <label for="Last Name">Last Name</label><br>
            <input type="text"><br>
            <label for="Age">Age</label><br>
            <input type="number"><br>
        </form>
    </div>
</body>
</html>